/* PAGE GENERALE */
body { margin: 0; padding:0; font-family: Arial, Tahoma, Verdana, Sans-serif; font-size: 14px; line-height: 1.6em;
    color: #666; background-color: #212121; overflow-x: hidden;}
  
img { max-width: 100%; width: auto\9; height: auto; vertical-align: middle; border: 0; margin-bottom:10px; }
p { font-size: 14px; line-height:1.6em; margin-bottom: 1em; }
small { font-size: 80%; }
strong { font-weight: bold; color: #333; }
a { outline:0; text-decoration: none;}
a:hover { text-decoration: none; }

footer { width:100%; background:#181818; color:#fff; margin:0; padding:80px 0 20px 0;}

.link{color: #F5A523;}

/* LISTE DES ARTICLES */

/* AFFICHAGE D'UN ARTICLE */
/*bloc article*/
.article{}

/*Titre*/
.adminonly{}
