{% extends 'site.html' %}
{% block content %}
<h1>Résultats de la recherche {{words}}</h1>
<div>
    {% if articles.len==0%}
    {% for article in articles %}
            <a href="article/{{article.id}}/">
                <div class="article">
            
                    <h3>
                    {% if article.adminonly %}
                            <span class="adminonly">{{article.title}}</span>
                    {% else %}
                            {{article.title}}
                    {% endif %}
                    </h3>
                    <h4>{{article.description }} </h4>
                    <p>
                    Publié le : {{article.release}}
                    </p>
                
                </div>
            </a>
    {% endfor %}
</div>
<a href="/"><button>Retour</button></a>
{% endblock %}